/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 2.5;
    -webkit-font-smoothing: antialiased;
    background: #EAE8DD;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: flex;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* My code starts */

  /* Header */


  .coffee-h1 {
    text-align: left;
    background-image: url(B6F1F981-7BDC-4233-AED2-95E1C4A0ACCC.jpg);
    padding-left: 2%;
    color: #ffffff;
    font-family: 'Oleo Script', cursive;
    display: flex;
    flex-direction: row;
  }

  header{
    background-color: #282120;
  }

  nav {
    text-align: center;
   
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: 5%;
    font-family: 'Bad Script', cursive;
  }

  a:hover {
    cursor: pointer;
    color: #A9D1E4;
    opacity: 0.6;
	  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	  transition: .4s;
  }

  .location {
    text-align: right;
    color: #ebeae4;
    margin-right: 3%;
    font-size: 1.3em;
    font-family: 'Oleo Script', cursive;
  }

  .deliver {
    text-align: center;
    background: #BC9476;
    color: #181916;
    font-family: 'Oleo Script', cursive;
  }

  /* Main Section */

  .breakfest {
   text-align: center;
    display: block;
    top: 450px;
    left: 290px;
    color: #000;
    background: #e0dac1;
    font-family: 'Bad Script', cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  }

.breakfest:hover { 
  box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  cursor: pointer;
  color: #A9D1E4;
  background: #282120;
  opacity: 0.6;
  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transition: .4s;
  }

  .lunch {
    text-align: center;
    display: block;
    color: #000;
    top: 450px;
    right: 320px;
    width: 94%;
    background: #e0dac1;
    font-family: 'Bad Script', cursive;
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  }

.lunch:hover { 
    cursor: pointer;
    color: #A9D1E4;
    background: #282120;
    opacity: 0.6;
	  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	  transition: .4s;
}
    
  

  .menu-options {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 1.8em;
  }

  .menu-options-mobile {
    visibility: hidden;
  }

  .morning-serving {
    text-align: center;
    background: #e0dac1;
    display: flex;
    flex-direction: column;
    font-family: 'Syne', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  }

  .lunch-serving {
    text-align: center;
    background: #e0dac1;
    width: 94%;
    display: flex;
    flex-direction: column;
    font-family: 'Syne', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  }


  .column {
      float: left;
      width: 50%;
      padding: 50px;
     
      overflow: hidden;
    }
 
    .row::after {
      content: "";
      clear: both;
      display: table;
      box-sizing: border-box;
    }

    .column:hover {
      box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
    }

  
  
  /* Create three equal columns that sits next to each other */

  .hours-color {
  background-color: #282120;
  padding: 50px;
  display: block;
  color: #ffffff;
  }

  .hours-logo {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
  }
  
  .days-listed {
    text-align: left;
    list-style: none;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Syne', sans-serif;
    
  }
.time {
  float: right;
  padding-right: 40%;
 
}

/* Order Online Section */

.order-online {
  background-color: #578E87;
  
  padding: 50px;
  overflow: hidden;
  height: 330px;
}

.order-logo {
  text-align: left;
  margin-left: 10px;
  color: #ffffff;
  font-size: 2rem;
}

.order-info {
  color: #ffffff;
  font-size: 1.3rem;
}
/* Button */
.place-order {
  float: right;
  margin-right: 20%;
  text-decoration: none;
  border: none;
  color: #000;
  background-color: #EBEBE8;
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  margin-bottom: 50%;
  display: block;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.place-order:hover {
  background-color: #000;
  color: #ffffff;
  box-shadow: 0 7px 9px 0 rgba(0,0,2,0.2);
  opacity: 1;
  transition: .8s;
}
  /* Footer */

  footer {
    position: relative;
    display: block;
    color: #ffffff;
    background-color: #000;
  }

  .footer-review {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    overflow: hidden;
  }

  .footer-review:hover {
    cursor: pointer;
    color: #A9D1E4;
    opacity: 0.6;
	  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	  transition: .4s;
    margin: 0 0 0 0;
  }

  .contact {
    text-align: right;
    padding-right: 10%;
    position: relative;
    overflow: hidden;
   font-family: 'Syne', sans-serif;
  }

  .contact:hover {
    cursor: pointer;
    color: #A9D1E4;
    opacity: 0.6;
	  transition: .4s;
    margin: 0 0 0 0;
    
  }

  .hiring {
    float: left;
    margin-left: 50px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .hiring:hover {
  cursor: pointer;
    color: #ffffff;
    opacity: 0.6;
	  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	  transition: .4s;
  
  }

   


.breakfest-h1 {   
    text-align: center;
    
  }

  .coffee-menu {
    text-align: left;
  }

  .breakfest-menu {
    text-align: right;
    

  }

  /* Mobile */

  @media only screen and (max-resolution: 150dpi) and (max-width: 767px), (min-width: 1023px ) and (orientation: portrait)
  {
  
    /*
      2. Remove default margin
    */
    * {
      margin: 0;
    }
    
  
  @media only screen and (max-resolution: 150dpi) and (max-width: 767px), (orientation: portrait)
  {
    .coffee-h1 {
      background-image: url(B6F1F981-7BDC-4233-AED2-95E1C4A0ACCC.jpg);
      color: #ffffff;
      font-family: 'Oleo Script', cursive;
      display: flex;
      flex-direction: row;
    }
  }
}

@media only screen and (max-resolution: 150dpi) and (max-width: 767px), (orientation: portrait) {

  header{
    background-color: #282120;
  }

  nav {
    text-align: center;
   
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: 5%;
    font-family: 'Bad Script', cursive;
  }

  a:hover {
    cursor: pointer;
    color: #A9D1E4;
    opacity: 0.6;
	  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	  transition: .4s;
  }

  .location {
    text-align: center;
    color: #ebeae4;
    font-size: 1.1em;
    font-family: 'Oleo Script', cursive;
  }

  .deliver {
    text-align: center;
   padding-left: 10%;
    background: #BC9476;
    color: #181916;
    font-family: 'Oleo Script', cursive;
  }
}
/* The Menu */
@media only screen and (max-resolution: 150dpi) and (max-width: 767px), (orientation: portrait) {

.breakfest {
  text-align: center;
   display: block;
   top: 450px;
   left: 290px;
   color: #000;
   background: #e0dac1;
   font-family: 'Bad Script', cursive;
   box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
 }

.breakfest:hover { 
 box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
 cursor: pointer;
 color: #A9D1E4;
 background: #282120;
 opacity: 0.6;
 text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
 transition: .4s;
 }

 .morning-serving {
  text-align: center;
  background: #e0dac1;
  display: flex;
  flex-direction: column;
  font-family: 'Syne', sans-serif;
  font-size: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
}

 .column {
  width: auto;
  padding: 50px;
  overflow: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  box-sizing: border-box;
}

.column:hover {
  box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
}

.lunch {
  text-align: center;
  display: block;
  color: #000;
  top: 450px;
  right: 320px;
  width: 94%;
  background: #e0dac1;
  font-family: 'Bad Script', cursive;
  box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
}

.lunch:hover { 
  cursor: pointer;
  color: #A9D1E4;
  background: #282120;
  opacity: 0.6;
  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transition: .4s;
}

.lunch-serving {
  text-align: center;
  background: #e0dac1;
  width: 94%;
  display: flex;
  flex-direction: column;
  font-family: 'Syne', sans-serif;
  font-size: 1.3em;
  box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
}

.menu-options-mobile {
  visibility: visible;
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-size: 1.8em;
}

.menu-options {
  visibility: hidden;
}

}

@media only screen and (max-resolution: 150dpi) and (max-width: 767px), (orientation: portrait) {
  .hours-color {
    background-color: #282120;
    padding: 30px;
    display: block;
    color: #ffffff;
    }
  
    .hours-logo {
      text-align: center;
      font-family: 'Oleo Script', cursive;
      font-size: 2rem;
    }
    
    .days-listed {
      text-align: left;
      list-style: none;
     justify-content: space-around;
      display: flex;
   flex-direction: column;
      font-family: 'Syne', sans-serif;
      
    }
  .time {
    justify-content: left;
    text-align: left;
   float: right;
  }
  
}

@media only screen and (max-resolution: 150dpi) and (max-width: 767px), (orientation: portrait) {

/* Order Online Section */

.order-online {
  background-color: #578E87;
  padding: auto;
  overflow: hidden;
  height: 40vh;
}

.order-logo {
  text-align: center;
  
  color: #ffffff;
  font-size: 1.9rem;
}

.order-info {
  color: #ffffff;
  font-size: 1.1rem;
  padding: auto;
}
/* Button */
.place-order {
  
 
  text-decoration: none;
  border: none;
  color: #000;
  background-color: #EBEBE8;
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  padding: 10px;
  width: 190px;
 
  display: block;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,2,0.2);
  font-family: Arial, Helvetica, sans-serif;
}

.place-order:hover {
  background-color: #000;
  color: #ffffff;
  box-shadow: 0 7px 9px 0 rgba(0,0,2,0.2);
  opacity: 1;
  transition: .8s;
}
}

@media only screen and (max-resolution: 150dpi) and (max-width: 767px), (orientation: portrait) {
    /* Footer */

    footer {
      position: relative;
      display: block;
      color: #ffffff;
      background-color: #000;
      padding: 2%;
      overflow: hidden;
    }
  
    .footer-review {
      text-align: center;
      font-family: 'Oleo Script', cursive;
      font-size: 1.2em;
      overflow: hidden;
    }
  
    .footer-review:hover {
      cursor: pointer;
      color: #A9D1E4;
      opacity: 0.6;
      text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
      transition: .4s;
      margin: 0 0 0 0;
    }
  
    .contact {
      text-align: right;
      padding-right: 10%;
      position: relative;
      overflow: hidden;
     font-family: 'Syne', sans-serif;
     font-size: 1em;
    }
  
    .contact:hover {
      cursor: pointer;
      color: #A9D1E4;
      opacity: 0.6;
      transition: .4s;
      margin: 0 0 0 0;
      
    }
  
    .hiring {
      float: left;
      margin-left: 50px;
      font-size: 1.2rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
    }
  
    .hiring:hover {
    cursor: pointer;
      color: #ffffff;
      opacity: 0.6;
      text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
      transition: .4s;
    
    }
}

@media only screen and (max-resolution: 150dpi) and (max-width: 767px), (min-width: 1023px ) and (orientation: landscape)
{
  header{
    background-color: #282120;
    width: 100%;
  }

  nav {
    text-align: center;
   
  }

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    padding-bottom: 5%;
    font-family: 'Bad Script', cursive;
  }

  a:hover {
    cursor: pointer;
    color: #A9D1E4;
    opacity: 0.6;
	  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	  transition: .4s;
  }

  .location {
    text-align: center;
    color: #ebeae4;
    font-size: 1.1em;
    font-family: 'Oleo Script', cursive;
  }

  .deliver {
    text-align: center;
   padding-left: 10%;
    background: #BC9476;
    color: #181916;
    font-family: 'Oleo Script', cursive;
  }

}
